<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.yeison.contacafe" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/conta"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".RootActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:label="Login" >
        </activity>
        <activity
            android:name=".ViewWorkerActivity"
            android:label="View Worker" >
        </activity>
        <activity
            android:name=".AddActivity"
            android:label="AddActivity" >
        </activity>
        <activity
            android:name=".WorkerActivity"
            android:label="WorkerActivity" >
        </activity>
        <activity
            android:name=".AddWorkerActivity"
            android:label="Add Worker" >
        </activity>
        <activity
            android:name=".ViewWeekActivity"
            android:label="View Week" >
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="Options" >
        </activity>
        <activity
            android:name=".AddWeekActivity"
            android:label="Add Week" >
        </activity>
        <activity
            android:name=".AddInsumosActivity"
            android:label="Add Insumo" >
        </activity>
        <activity
            android:name=".ViewInsumosActivity"
            android:label="View Insumos" >
        </activity>
        <activity
            android:name=".ViewResultsActivity"
            android:label="@string/title_activity_view_results" >
        </activity>
    </application>

</manifest>
